html{
    scroll-behavior: smooth;
}

body{
    background-image: url('http://localhost/crm-gink/assets/img/bg-1.jpg');
    font-family:  'Raleway', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}