.container-tiket{
    width: 75%;
    background-color:floralwhite;
    margin: auto;
    padding: 3%;
    opacity: 0.9;
}

.container-tiket input,.container-tiket select,.container-tiket textarea{
    width: 100%;
}
